.header .logo {
  height: 100%;
  min-height: 40px;
  min-width: 100px;
  display: table-cell; }
.header .topbar {
  z-index: 12;
  padding: 8px 0;
  position: relative; }
  .header .topbar ul.loginbar > li {
    display: inline;
    list-style: none;
    position: relative;
    padding-bottom: 15px; }
  .header .topbar ul.loginbar li.topbar-devider {
    top: -1px;
    padding: 0;
    font-size: 8px;
    position: relative;
    margin: 0 9px 0 5px;
    font-family: Tahoma;
    border-right: solid 1px #bbb; }
.header .navbar-toggle {
  background: #72c02c;
  padding: 6px 10px 2px;
  border-color: #72c02c; }
  .header .navbar-toggle:hover {
    background: #72c02c;
    padding: 6px 10px 2px; }
  .header .navbar-toggle:focus {
    background: #72c02c;
    padding: 6px 10px 2px; }
.header .navbar-collapse {
  padding: 0;
  position: relative; }
.header .navbar-nav {
  float: right; }
  .header .navbar-nav > li > a {
    padding: 9px 30px 9px 20px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase; }
    .header .navbar-nav > li > a:hover {
      bottom: -2px;
      position: relative; }
  .header .navbar-nav > .active > a {
    bottom: -2px;
    position: relative;
    color: #72c02c; }
.header .nav > li > a:hover {
  text-decoration: none;
  background-color: white;
  color: #72c02c; }
.header > .container {
  display: table;
  margin-bottom: -40px; }
.header .active > a {
  bottom: -2px;
  position: relative;
  border-bottom: solid 2px #72c02c; }

.navbar-nav {
  margin: 36.5px -16px !important; }

li {
  color: #555; }
  li a {
    color: #555; }

label {
  color: #555; }

.section1 {
  margin: -34px; }
  .section1 .search-block {
    padding: 80px 0;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    background: url(/sassunify/image/section1.jpg) 50% 0 repeat fixed; }
    .section1 .search-block .input-group {
      margin-bottom: 10px; }
    .section1 .search-block .form-control {
      border: none;
      height: 48px;
      font-size: 16px;
      font-weight: 200; }
    .section1 .search-block form.page-search-form {
      border: none; }
      .section1 .search-block form.page-search-form .checkbox {
        color: #fff;
        font-weight: 200;
        margin: 0 3% 0 4%; }
  .section1 .search-block:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: rgba(0, 0, 0, 0.3); }
  .section1 .search-block h1 {
    color: #fff;
    font-size: 34px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase; }

.color-green {
  color: #72c02c; }

.sky-form {
  border: 1px solid #bbb;
  margin: 0;
  outline: none;
  font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
  color: #666; }
  .sky-form .inline-group {
    margin: 0 -30px -4px 0; }
    .sky-form .inline-group .checkbox {
      float: left; }
  .sky-form .checkbox {
    padding-left: 27px;
    font-size: 15px;
    line-height: 27px;
    cursor: pointer; }
    .sky-form .checkbox i {
      background: #fff; }

.btn-u-lg {
  font-size: 18px;
  padding: 15px 25px; }

.btn-u {
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  background: #72c02c;
  display: inline-block;
  text-decoration: none; }

a.btn-u-lg {
  font-size: 18px;
  padding: 10px 25px; }

.content {
  padding-top: 40px;
  padding-bottom: 40px; }
  .content .headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #555; }
  .content .headline h2, .content .headline h3, .content .headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #72c02c; }
  .content .headline h2 {
    font-size: 22px; }
  .content .content-boxes-v3 .content-boxes-in-v3 h3 a {
    color: #555; }
  .content .content-boxes-v3 .content-boxes-in-v3 h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 3px;
    text-transform: capitalize; }
  .content .margin-bottom-10 {
    margin-bottom: 10px; }
  .content .icon-badge:before {
    content: "\e028"; }
  .content .content-boxes-v3 i.icon-custom {
    top: 8px;
    float: left;
    position: relative; }
  .content i.icon-sm.icon-line {
    font-size: 14px; }
  .content i.icon-bg-sea {
    background: #1abc9c; }
  .content i.icon-bg-sea {
    color: #fff;
    border-color: transparent; }
  .content i.icon-sm {
    width: 35px;
    height: 35px;
    line-height: 35px; }
  .content i.icon-custom {
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    border: solid 1px #555; }
  .content .icon-badge {
    font-family: 'Simple-Line-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased; }
  .content .rounded-x {
    border-radius: 50% !important; }
  .content .margin-bottom-20 {
    margin-bottom: 20px; }
  .content .content-boxes-v3 i.icon-custom {
    top: 8px;
    float: left;
    position: relative; }
  .content .content-boxes-v3 .content-boxes-in-v3 {
    padding: 0 20px;
    overflow: hidden; }
  .content i.icon-bg-red {
    background: #e74c3c; }
  .content i.icon-bg-brown {
    background: #9c8061; }
  .content .icon-graduation:before {
    content: "\e019"; }
  .content i.icon-bg-green {
    background: #2ecc71; }
  .content i.icon-bg-dark {
    background: #555; }
  .content .content-boxes-v3 i.icon-custom {
    top: 23px;
    float: left;
    position: relative; }
  .content i.icon-bg-blue {
    background: #3498db; }
  .content i.icon-bg-yellow {
    background: #f1c40f; }
  .content .icon-playlist:before {
    content: "\e030"; }
  .content i.icon-bg-aqua {
    background: #27d7e7; }
  .content i.icon-bg-purple {
    background: #9b6bcc; }
  .content i.icon-bg-orange {
    background: #e67e22; }
  .content .section-block {
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 3px #eee; }
  .content i.icon-bg-darker {
    background: #333; }
  .content .icon-graph:before {
    content: "\e06b"; }
  .content .section-block h2 {
    color: #333;
    font-size: 28px;
    font-weight: 200;
    margin: 10px 0 15px; }
  .content .content h2 {
    text-shadow: none;
    font-family: "Open Sans", Arial, sans-serif; }
  .content #prime {
    color: #72c02c; }
  .content a {
    color: #bbb;
    text-decoration: none; }
  .content h3.heading-xs {
    font-size: 14px;
    margin-bottom: 0; }
  .content .no-top-space {
    margin-top: 0 !important;
    padding-top: 0 !important; }
  .content .progress {
    position: relative; }
  .content .progress {
    background: #e5e5e5; }
  .content .progress-xxs {
    height: 3px; }
  .content .progress-u {
    box-shadow: none; }
  .content .progress {
    border-radius: 0; }
  .content .progress {
    margin-bottom: 20px;
    overflow: hidden; }
  .content .progress .progress-bar {
    overflow: hidden;
    line-height: 20px; }
  .content .progress-u .progress-bar {
    box-shadow: none; }
  .content .progress-bar-u {
    background: #72c02c; }
  .content .progress-bar {
    float: left;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    transition: width .6s ease; }
  .content .progress {
    margin-bottom: 20px;
    overflow: hidden; }
  .content .tags-v1 li a {
    font-size: 13px;
    padding: 4px 8px;
    line-height: 32px;
    border: solid 2px #eee;
    border-radius: 20px !important;
    transition: all 0.2s ease-in-out; }

.footer .footer-v1 .footer {
  padding: 40px 0;
  background: #272727; }
.footer .footer-logo {
  margin: 17px 0 20px; }
.footer .footer-v1 .footer p {
  color: #eee; }
.footer .footer-v1 .footer h2 {
  color: #eee;
  font-size: 18px;
  font-weight: 200; }
.footer .latest-list li a {
  color: #eee; }
.footer .latest-list small {
  color: #999;
  display: block; }
.footer .link-list a {
  color: #eee;
  font-size: 11px;
  padding: 6px 0px;
  display: inline-block;
  text-transform: uppercase; }
.footer .footer-v1 address {
  line-height: 23px; }
.footer .footer-v1 address {
  color: #eee; }
.footer .headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #bbb; }
.footer .headline h2 {
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #72c02c; }

/*# sourceMappingURL=style.css.map */
